$darkGrey: #6b717f;
$white: #fff;
$pink: rgb(191, 64, 128);
$grey: #8C8C8C;
$black: #000;
$green: green;
$red: red;
$orange: orange;

// padding 

$padding: 16px;

$base-color: $pink;

@for $i from 1 through 6 {
    li:nth-child(#{$i}) {
        background-color: lighten($base-color, $i*3%);
    }
}